@import "_normalize.less";

@navy: #141f3d;
@grey: #dedede;
@pink: #e4aeae;
@blue: #b9e0f7;

.transition (...) {
  @props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
  -webkit-transition: @props;
  -moz-transition: @props;
  -o-transition: @props;
  transition: @props;
}

body { background: #dedede; color: @navy; font-family: 'Open Sans', sans-serif; }

h1 { font-family: 'proxima-nova-alt-ext-cond', sans-serif; text-transform: uppercase; font-size: 72px; font-weight: 100; letter-spacing: -3px; .transition(color 0.25s, transform 0.25s, letter-spacing 0.25s);
  a { text-decoration: none; color: @navy;
  }
  &:hover { transform: scale(1.05);letter-spacing: 0;
    a {color: @pink;}
  }
}

.main-header { padding: 40px 1em;
  h1 { text-align: center; margin: 0; line-height: 1; }
  p.date { margin: 0; line-height: 1; text-align: center; font-family: 'proxima-nova-alt-ext-cond', sans-serif;  text-transform: uppercase; font-size: 40px; font-weight: 100;}
}
.main-nav {
  a { color: @navy; text-decoration: none; }
}
.content { padding: 0 1em; }
