div.blue.colorblock
div.pink.colorblock
div.navy.colorblock
p.
  Welcome to our wedding website! Our wedding will be taking place on #{locals.date.verbose} at the Charleston Yacht Club in Charleston, South Carolina from 5 to 9:30 pm.
  The ceremony will take place on the outside deck followed by a cocktail hour, dinner, and dancing.
address
  | Charleston Yacht Club
  br
  | 17 Lockwood Drive
  br
  | Charleston, SC 29413
  br
  | 843-722-4968
  br
  a(href='http://charlestonyachtclub.com') charlestonyachtclub.com
