doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= locals.title
    link(rel='stylesheet', href='/css/megan-and-tyler.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    script(src='//use.typekit.net/lms7zvf.js')
    script try{Typekit.load();}catch(e){}
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js')
    script(src='/scripts/scripts.js')
  body(ng-app="MeganAndTyler")
    header.main-header#header
      h1
        a(href="/#/")= locals.title
      p.date
        a(href="/#/")= locals.date.noFormatting
      nav.main-nav
        ul
          li
            a(href="/#/about") About
          li
            a(href="/#/party") Wedding Party
          li
            a(href="/#/rsvp") RSVP
          li
            a(href="/#/registry") Registry
          li
            a(href="/#/information") Guest Information

    section.content(ng-view)
