mixin member(person)
  dt= person.title
  dd= person.name
  if person.description
    dd.description= person.description

h2 Meet the Wedding Party

h3 Wedding Party
dl.party
  for person in page.metadata.party
    +member(person)

h3 Family of the Bride
dl.bride
  for person in page.metadata.family.bride
    +member(person)

h3 Family of the Groom
dl.bride
  for person in page.metadata.family.groom
    +member(person)
